annotated-types
anyio
asgiref
asttokens
async-timeout
attrs
autobahn
Automat
axios
Babel
bcrypt
black
blinker
cachetools
certifi
cffi
channels
channels-redis
chardet
charset-normalizer
click
colorama
configobj
constantly
cryptography
daphne
decorator
distro
distro-info
Django==4.2
django-allauth
django-cors-headers
django-debug-toolbar
django-environ
django-extensions
django-seed
djangorestframework
djangorestframework-simplejwt
docker
docker-compose
dockerpty
docopt
exceptiongroup
executing
Faker
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
gunicorn
h11
httpcore
httplib2
httpx
hyperlink
iamport
idna
importlib-metadata
incremental
ipython
jedi
jeepney
Jinja2
jiter
jsonpatch
jsonpointer
jsonschema
keyring
launchpadlib
lazr.restfulclient
lazr.uri
lxml
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
more-itertools
msgpack
mypy-extensions
netifaces
oauthlib
openai
packaging
parso
pathspec
pexpect
pillow
platformdirs
prompt_toolkit
proto-plus
protobuf
psycopg2
psycopg2-binary
ptyprocess
pure_eval
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
Pygments
PyHamcrest
PyJWT
pyOpenSSL
pyparsing
pyrsistent
pyserial
python-dateutil
python-debian
python-dotenv
python-magic
pytz
PyYAML
redis
requests
requests-oauthlib
rich
rsa
SecretStorage
service-identity
six
sniffio
sos
sqlparse
ssh-import-id
stack-data
systemd-python
texttable
tomli
toposort
tqdm
traitlets
Twisted
txaio
typing_extensions
ubuntu-pro-client
ufw
unattended-upgrades
uritemplate
urllib3
wadllib
wcwidth
websocket-client
zipp
zope.interface